.background {
  background-color: #282c34;
  color: white;
  height: 100vh;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.header {
  font-size: 2rem;
}

.content {
  font-size: 1.5rem;
}

/* Input styling */
input {
  padding: 0.5rem;
  font-size: 1rem;
  margin: 0.5rem;
}

/* Button styling */
button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin: 0.5rem;
  background-color: #181b1b;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

/* Button hover effect */
button:hover {
  background-color: #282c34;
}

/* Select input styling */
select {
  padding: 0.5rem;
  font-size: 1rem;
  margin: 0.5rem;
}

.link {
  font-size: 26px;
  color: #e3e3e3;
  margin: 0 12px;
}

.link:hover {
  color:#bcbcbc;
}